* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    background: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    color: #007bff;
}

main {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.6;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #777;
}

#quizContent {
    margin-top: 15px;
}

label {
    display: block;
    margin: 10px 0;
    padding: 5px;
    background: #f7f7f7;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

label:hover {
    background: #e2e2e2;
}
